{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "js/jquery.colorbox.js" %}></script>
    <title>Регистрация</title>
  </head>
  <body>
    <form action="{% url 'register'  %}" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
    </form>
  </body>
</html>